* {
box-sizing: border-box;
}

/* all elements in body tag */
body {
margin: 0;
padding: 0;
background: #F0F0F0;
font-family: sofia-pro,sans-serif;
color: #5C5C5C;
}

/* general links */
a {
color: #5C5C5C;
text-decoration: none;
font-weight: 600;
font-style: normal;
}

/* ----------------------- NAVIGATION ----------------------- */

/* everything nested in the header tag */
header {
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

/* logo picture */
header .logo {
    /*padding-left: 3.5em;*/
    order: 2;
    text-align: center;
}

header .logo img {
    max-width: 40%;
}

header nav {
    order: 1;
}

header .cart {
    order: 3;
    text-align: right;
    padding-right: 2em;
}

/* all unordered lists and list items inside the nav tag */
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* unordered lists directly nested under nav tag */
nav > ul {
    display: flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 3em;
}

/* directly targets list items inside unordered list inside nav tag */
nav > ul > li {
    min-width: 12ch;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* all links inside nav tag */
nav a {
    display: block;
    height: 100%;
}

/* all links inside nav tag when hovered over */
nav a:hover {
    color: #363636;
    text-decoration: underline;
}

/* search and shopping cart */
header > ul > li {
    display: inline-flex;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0.5em;
}

/* ----------------------- PRODUCTS PAGE ----------------------- */

/* products heading 1 */
h1 {
    text-align: center;
    padding: 1.5em 0em;
}

/* unordered list and list items */
li, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* products class on the unordered list */
ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 5em;
}

/* individual list item for each product */
.products li {
    /* background: #000; */
    display: grid;
    max-width: 250px;
    padding: 0.5em;
}

/* product image */
.products li img {
    max-width: 250px;
    order: 0;
}

/* product heading/name */
.products li h2 {
    order: 1;
    margin: 0.5em 0 0 0;
}

/* product description */
.products li p {
    order: 2;
    margin: 0.5em 0 0 0;
}

/* ----------------------- FOOTER ----------------------- */

footer {
    background: #E0F1EA;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 2em;
}

footer .logo img {
    max-width: 80%;
    padding-left: 4em;
}

/* ----------------------- BREAKPOINT ----------------------- */

/* breakpoint */
@media (max-width: 900px) {

    header {
        height: 3em;
    }

    nav > ul {
        top: -1000px;
        display: block;
        position: absolute;
        background: #FFFFFF;
        width: 100%;
        height: auto;
    }

    nav ul a {
        font-size: 1.7em;
        padding: 0.5em;
    }

    .show-menu nav ul {
        top: 3em;
    }

    /*header, nav > ul {
        display: inline-grid;
    }*/

    header .logo {
        max-width: 100%;
    }

    .toggle {
        margin-left: 2em;
    }

    .toggle span {
        display: block;
        width: 25px;
        height: 4px;
        margin-bottom: 5px;
        background: #5C5C5C;
        z-index: 1;
    }

    h1 {
        padding: 1em 0;
    }

    ul.products {
        gap: 1.5em;
        padding: 1em;
        justify-content: center;
    }

    .products li {
        /* background: #000; */
        display: grid;
        max-width: 200px;
        padding: 1em;
    }

    .products li img {
        max-width: 200px;
    }

    .products li h2 {
        margin: 0.5em 0 0 0;
        font-size: 1.25em;
    }

    footer {
        display: block;
    }

    footer .logo img {
        max-width: 40%;
    }

    footer .visit, .contact, .resources {
        padding-left: 5em;
    }

}