/*CSS DOCUMENT*/
img {
    width: 100%; 
    display: block;    
}

address {
    font-style: normal;
    font-family: 'Muli', sans-serif;
    margin-top: 0.5em;
}
.header{
    width: 70%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.mainmenu ul{
    list-style-type: none;
    padding: .5em;
    text-align: center;
}

.mainmenu li {
    display: block;
    text-decoration: none;
    clear: both;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5em;
}

.mainmenu a {
    color: #4278A3;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em;
}

a {
    color: #4278A3;
    text-decoration: none;
}

a:hover {
    color:#999999;
    background: rgba(256, 256, 256, 0);
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #4BA04B;
    margin-top: 1em;
    text-align: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: #4278A3;
    margin-top: 1em;
    margin-bottom: 0em;
}

h3{
    color: #999999;
    font-family: 'Raleway', sans-serif;
    margin-top: 1em;
    margin-bottom: 0em;
}

p, li {
    font-family: 'Muli', sans-serif;
    margin-top: 0.5em;
    margin-bottom: 1.25em;
}

.intropic {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}