/*CSS DOCUMENT*/


img {
width: 50%;
display:block;
margin-left: auto;
margin-right: auto;
}

body {
    background: #fff;
    font-family: sans-serif;
}

h1 {
    color: #80A854;
    font-weight: 250;
    font-size: 2em;
    margin: 1em;
    margin-bottom: 0.5em;
    text-align: center;
    letter-spacing: 0.06em;
}

h2{
    color: #606060;
    font-weight: 500;
    font-size: 1em;
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}

h3{
    color: #80A854;
    font-weight: 525;
    font-size: 1.25em;
    margin-top: 2em;
    margin-left: 2em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

ul{
    padding: 0;
}

div.intro p{
    color: #909090;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    line-height: 1.5em;
    text-align: center;
    font-style: italic;
    width: 50%;
    margin: auto;
}

div.maincontent{
    min-height: 2em;
    width: 70%;
    margin: auto;
    margin-top: 3em;
}

div.ingredients {
    color: #606060;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    line-height: 2.1em;
    margin-left: 2em;
    margin-bottom: 5em;
    width: 45%;
    float: left;
}

div.directions {
    color: #606060;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    line-height: 2.1em;
    margin-left: 2em;
    margin-bottom: 5em;
    width: 45%;
    float: right;
}

footer{
    float: none;
    clear: both;
    margin: 2em;
    text-align: center;
}